@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #ffffff;
  --color-background-dark: #101622;
  --color-background-page: #ffffff;
  --font-display: "Inter", "sans-serif";
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    @apply font-display antialiased bg-background-page dark:bg-gray-900 text-[#111318] dark:text-white;
  }
}